@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

body {
    background-image: url('/hospital.jpg/');
    background-size: cover;
    /* To make the image cover the entire background */
    background-repeat: no-repeat;
    /* Avoid repeating the image */
    background-position: center;
    /* Center the image */
    background-attachment: fixed;
    /* Keep the image fixed when scrolling */
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */